@font-face {
    font-family: 'NorseBold';
    src: url('font/Norse-Bold.otf') format('woff2');
  }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main css starts here */
html, body {
    height:100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    /* border: 5px solid red; */
    border-right: 1px solid gray;
       background-color: rgba(236, 235, 235, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

#content1 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#logo {
    font-family: NorseBold;
    font-size: 75px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 0;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#img-txt-container {
    position: absolute;
    padding-bottom: 12px;
    color: white;
}

#logo>img {
    height: 150px;
}

a {
    color: wheat;
}

#content2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#container-2 {
    background-color: rgba(236, 235, 235, 0.75);
    font-size: large;
    font-weight: 600;
}

#intro-container {
    display: flex;
    flex-direction: column;
    padding:25px;
}

#intro-container >h3 {
    padding-top: 30px;
}

#form-c1 {
    background-color: white;
    padding-bottom: 12.5px;   
}

#form-c1>h2 {
  
 padding: 25px;
    font-size: 24px;
    font-weight: 600;
}

#form-c1 > #name-container, #contact-container, #password-container {
    display: flex;

}

#name-c1, #name-c2, #contact-c1, #contact-c2, #password-c1, #password-c2 {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    padding-bottom: 12.5px;

}

#confirm-container {
    padding: 0 25px;
    padding-top: 25px;
}

#confirm-container > h3 {
    padding-top: 25px;
    
}

label {
    font-size: small;
}

input {
    padding-left: 5px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=submit] {
    font-size: large;
    width: 200px;
    background-color: #7b8482;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=submit]:hover {
    background-color:  #364646;
}
